<a href="https://colab.research.google.com/github/Abhi050/Machine_Learning/blob/master/Crime_in_India.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

In [36]:
df1=pd.read_csv("/content/VICTIMS_OF_KA_0.csv")
df1.head()
df2=pd.read_csv()

TypeError: ignored

In [37]:
df1.rows()

AttributeError: ignored

In [38]:
len(df1)

5866

In [39]:
df1.index()

TypeError: ignored

In [40]:
df1.head()

         STATE/UT  YEAR  ... Total Female  Grand Total
0  Andhra Pradesh  2001  ...            5            8
1  Andhra Pradesh  2001  ...            0            2
2  Andhra Pradesh  2001  ...            0            0
3  Andhra Pradesh  2001  ...           78           78
4  Andhra Pradesh  2001  ...          332          339

[5 rows x 19 columns]

In [0]:
df7=(df1.loc[[3],df1.columns[1:5]])

In [0]:
df7=pd.concat([df7,(df1.loc[[3],df1.columns[5:8]])],axis=1)

In [53]:
df7

   YEAR  ... Male upto 10 years
3  2001  ...                  0

[1 rows x 4 columns]

In [0]:

df1[df3.columns[2:]][0]=df3[df3.columns[2:]][0]

In [0]:

for i in df3.index:
    for j in df1.index
        print("*")
        if(df3["STATE/UT"][i]==df1["STATE/UT"][j] and df3["YEAR"][i]==df1["YEAR"][j]):
            df1[df3.columns[2:]][j]=df3[df3.columns[2:]][i]
df1.head(20)

In [0]:
print(1)

1

In [0]:

df1=pd.read_csv("VICTIMS_OF_KA_0.csv")
df2=pd.read_csv("VICTIMS_OF_KA_2013.csv")

df3=pd.concat([df1,df2],ignore_index=True)
df3=df3.sort_values(["STATE/UT","YEAR","Pupose"],ascending=[True,True,True])

df_1=pd.read_csv("polStr.csv")
df_2=pd.read_csv("polStr_2013.csv")

df_3=pd.concat([df_1,df_2],ignore_index=True)   
df_3=df_3.sort_values(["STATE/UT","YEAR"],ascending=[True,True])

In [139]:
a=set(df3["STATE/UT"].values)
a

{'A&N Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'D&N Haveli',
 'Daman & Diu',
 'Delhi UT',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal'}

In [0]:
b=set(df_3["STATE/UT"].values)

In [108]:
list(b-a)

['ASSAM',
 'SIKKIM',
 'TOTAL (ALL-INDIA)',
 'JAMMU & KASHMIR',
 'TOTAL (UTs)',
 'UTTAR PRADESH',
 'DELHI',
 'CHANDIGARH',
 'GOA',
 'MAHARASHTRA',
 'ARUNACHAL PRADESH',
 'MEGHALAYA',
 'ODISHA',
 'HARYANA',
 'KARNATAKA',
 'BIHAR',
 'Total (All-India)',
 'PUDUCHERRY',
 'HIMACHAL PRADESH',
 'WEST BENGAL',
 'MANIPUR',
 'TOTAL (STATES)',
 'RAJASTHAN',
 'TRIPURA',
 'D & N HAVELI',
 'LAKSHADWEEP',
 'DAMAN & DIU',
 'NAGALAND',
 'PUNJAB',
 'Total (UTs)',
 'CHHATTISGARH',
 'JHARKHAND',
 'TAMIL NADU',
 'Total (State)',
 'MADHYA PRADESH',
 'ANDHRA PRADESH',
 'MIZORAM',
 'KERALA',
 'A & N ISLANDS',
 'UTTARAKHAND',
 'GUJARAT']

In [144]:
df_3.drop(df_3.index[df_3['STATE/UT'] == "TOTAL (STATES)"], inplace = True)
df_3.drop(df_3.index[df_3['STATE/UT'] == "TOTAL (ALL-INDIA)"], inplace = True)
df_3.drop(df_3.index[df_3['STATE/UT'] == "Total (UTs)"], inplace = True)
df_3.drop(df_3.index[df_3['STATE/UT'] == "Total (All-India)"], inplace = True)
df_3.drop(df_3.index[df_3['STATE/UT'] == "Total (State)"], inplace = True)
df_3.drop(df_3.index[df_3['STATE/UT'] == "TOTAL (UTs)"], inplace = True)

b=set(df_3["STATE/UT"].values)
b
list(b-a)

['ASSAM',
 'SIKKIM',
 'JAMMU & KASHMIR',
 'UTTAR PRADESH',
 'DELHI',
 'CHANDIGARH',
 'GOA',
 'MAHARASHTRA',
 'ARUNACHAL PRADESH',
 'MEGHALAYA',
 'ODISHA',
 'HARYANA',
 'KARNATAKA',
 'BIHAR',
 'PUDUCHERRY',
 'HIMACHAL PRADESH',
 'WEST BENGAL',
 'MANIPUR',
 'RAJASTHAN',
 'TRIPURA',
 'D & N HAVELI',
 'LAKSHADWEEP',
 'DAMAN & DIU',
 'NAGALAND',
 'PUNJAB',
 'CHHATTISGARH',
 'JHARKHAND',
 'TAMIL NADU',
 'MADHYA PRADESH',
 'ANDHRA PRADESH',
 'MIZORAM',
 'KERALA',
 'A & N ISLANDS',
 'UTTARAKHAND',
 'GUJARAT']

In [80]:
x=df_3["STATE/UT"]
y=df3["STATE/UT"]
np.sort(x)
np.sort(y)

array(['A&N Islands', 'A&N Islands', 'A&N Islands', ..., 'West Bengal',
       'West Bengal', 'West Bengal'], dtype=object)

In [145]:
c=1
# df_3.set_index()
for i in range(len(df_3["STATE/UT"])):
  for j in range(len(df3["STATE/UT"])):
    if df_3["STATE/UT"][i].lower() == df3["STATE/UT"][j].lower():
      df3.replace(df3["STATE/UT"][j],df_3["STATE/UT"][i],inplace=True)

KeyError: ignored

In [84]:
len(y)

6356

TypeError: ignored